@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:300,400&subset=cyrillic');

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Open Sans', serif;  
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 0;
}

a {
  color: black;
}